*{
    margin: 0;
    padding: 0;
}
/*start style body*/
a{
    text-decoration: none;
}
.main{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img/bg001.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -83px;
    overflow: hidden;
}
/*end style body*/
                            /*start style navbar*/
/*start style header*/
header{
    color: rgb(228, 83, 21);
    font-size: 37px;
    font-family: -webkit-pictograph;
    font-weight: bold;
    position: relative;
    left: 113px;
    top: 5px;
}
/*end style header*/
/*start styel list*/
.navbar{
    width: 40.333%;
    position: relative;
    left: 479px;
    top:-23px; 
}
.navbar ul li a{
    text-decoration: none;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.navbar ul li{
    display: inline;
    margin: 15px;
    padding: 7px;
    text-align: center;
}
.navbar ul li a:hover,
.navbar ul li .cative{
    color: rgb(228, 83, 21);
}
/*end styel list*/
/*start style label*/
.search{
    float: right;
    width: 273px;
    height: 40px;
    position: relative;
    bottom: 47px;
    right: 70px;
    height: 40px;

}
.search .shr {
    color: rgb(255, 255, 255);
    text-align: center;
    height: 44px;
    width: 100px;
    border: 2px solid #ff7200;
    background-color: #ff7200;
    /* margin-top: 15px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    right:5px;
    top: 4px;
}
.search #search{
    color: white;
    height: 43px;
    background: transparent;
    border: 1px solid #ff7200;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 0px;
}

                                /*start style navbar*/
/*start style informationsection*/
.informationsection{
    width: 50%;
    height: auto;
    margin: 105px 0 0 70px;
}
.informationsection h1{
    color: white;
    
    font-weight:bolder ;
    font-size: 80px;
}
.informationsection h1 span{
    color: tomato;
}
.informationsection p{
    color: white;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.informationsection button{
    background-color: tomato;
    color: white;
    border: solid 1px;
    border-color: black;
    border-radius: 7px;
    width: 141px;
    height: 37px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 17px;
    padding: 7px;
}
.informationsection button:hover{
    color:tomato;
    background-color: white;
    cursor: pointer;
}

                                                /*start style form*/
.form{
    background-color: #2c2b2b;
    float: right;
    position: relative;
    bottom: 402px;
    right: 151px;
    /* margin: 15px; */
    width: 20%;
    height: 377px;
    color: white;
    padding: 20px;
    border-radius: 13px;
}
.form h1{
    background-color: white;
    color: tomato;
    margin: 0 34px 12px 34px;
    padding: 0px 38px;
    width: 224px;
    text-align: center;
    height: 40px;
    border-radius: 7px;
    font-weight: bold;
    position: relative;
    top: 0px;
    left: -28px;
    font-family: -webkit-pictograph;
}
.form form input{
    width: 296px;
    height: 32px;
    padding-bottom: 0px;
    background-color: rgb(44 43 43);
    border-color: transparent transparent tomato transparent;
    color: white;
    position: relative;
    top: 20px;
}
.form .login{
    background-color: tomato;
    color: white;
    border: solid 1px;
    border-color: black;
    border-radius: 7px;
    width: 248px;
    height: 42px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 17px;
    padding: 7px;
    position: relative;
    left: 8%;
    top: 20px;
}
.form .preone{
    margin: revert;
    position: relative;
    top: 9px;
    left: 45px;
    font-family: -webkit-pictograph;
    font-size: 20px;
}
.form .pretwo{
    text-align: center;
    font-family: -webkit-pictograph;
    margin-top: -8px;
    margin-left: -24px;
    font-size: 18px;
    letter-spacing: 1px;
}
.form .pretwo a{
    color: tomato;
}
.form .pretree{
    text-align: center;
    color: white;
    margin-top: 23px;
    letter-spacing: 1px;
    margin-right: 23px;
    font-size: 18px;
}
.form .acoin{
    position: absolute;
    left: 16px;
    bottom: -2px;
}
.form .acoin .fab{
    color: white;
    padding: 20px;
    width: 18px;
    font-size: 33px;
}
.form .acoin .fab:hover{
    color: tomato;
}